.quiz-page, .questions-page {
    height: 101.4vh;
    width: 99.8vw;
    border: 1px solid yellow;
    /* background-image: url(./images/yellow_background.jpg);
    background-size: 100% 100%; */
    background-color: black;
}

.question-form {
    width: 100vw !important;
}

.question-form h3, .question-form h5 {
    font-family: Avenir-Book;
    font-weight: 400;
    margin: 62pt 26pt 0 26pt;
    color: white;
}

.question-form h5 {
    font-size: 16pt;
}

.question-header {
    font-size: 20pt;
}

.question-form h4 {
    font-family: Avenir-Book;
    font-weight: 400;
    color: white;
    font-size: 14pt;
    position: relative;
    top: -14pt;
}

.question-form div label {
    color: white;
} 

.question-page {
    display: flex;
    align-items: center;
    position: relative;
}

.question-form {
    width: 350px;
    margin: auto;
}

.answer-choice {
    border: 3px solid white; 
    cursor: pointer;
    width: 330px;
    margin: auto;
}

.answer-choice:hover {
    transform: scale(1.03);
    position: relative;
    border: 4px solid white;
}

.question-form h5 {
    position: relative;
    bottom: 35px;
}

.first, .second, .third {
    border-bottom: none;
}

.condition {
    cursor: pointer;
    width: 330px;
    margin: auto;
    transform: scale(1.03);
    border: 4px solid yellow;
}
  
button {
    width: 130pt;
    height: 34pt;
    margin-top: 35pt;
    letter-spacing: 0.38pt;
    font-size: 14pt;
    font-family: Avenir-Light;
    cursor: pointer;
    border-radius: 5%;
}

button:hover {
    transform: scale(1.1);
}