.quiz-page, .questions-page {
    height: 101.4vh;
    width: 99.8vw;
    border: 1px solid yellow;
    /* background-image: url(./images/yellow_background.jpg);
    background-size: 100% 100%; */
    /* background-color: black; */
}

.question-form {
    width: 100vw !important;
}

.question-form h3, .question-form h5 {
    font-family: Avenir-Book;
    font-weight: 400;
    margin: 62pt 26pt 0 26pt;
    color: white;
}

.question-form h5 {
    font-size: 16pt;
}

.question-header {
    font-size: 20pt;
}

.question-form h4 {
    font-family: Avenir-Book;
    font-weight: 400;
    color: white;
    font-size: 14pt;
    position: relative;
    top: -14pt;
}

.question-form div label {
    color: white;
} 

.question-page {
    display: flex;
    align-items: center;
    position: relative;
}

.question-form {
    width: 350px;
    margin: auto;
}

.answer-choice {
    border: 3px solid white; 
    cursor: pointer;
    width: 330px;
    margin: auto;
}

.answer-choice:hover {
    transform: scale(1.03);
    position: relative;
    border: 4px solid white;
}

.question-form h5 {
    position: relative;
    bottom: 35px;
}

.first, .second, .third {
    border-bottom: none;
}
  
button {
    width: 130pt;
    height: 34pt;
    margin-top: 35pt;
    letter-spacing: 0.38pt;
    font-size: 14pt;
    font-family: Avenir-Light;
    cursor: pointer;
    border-radius: 5%;
}

button:hover {
    transform: scale(1.1);
}

.condition {
    cursor: pointer;
    width: 330px;
    margin: auto;
    transform: scale(1.03);
    border: 4px solid rgb(168, 216, 35);
}
#q1{
    background-image: url(images/yellow_background.jpg);
    background-size: cover;
}
#q2{
    background: linear-gradient(#3b65a5,#88abe0);
}
#q3{
    background: linear-gradient(#d7523d,#f47764);
}
#q4{
    background-image: url(images/yellow_background.jpg);
    background-size: cover;
}
#q5{
    background: linear-gradient(#3b65a5,#88abe0);
}
.material-icons{
    font-size:36px;
    margin-left: 80%;

}
#mapbox{
    padding: 10px;
}
#q6{
    background: linear-gradient(#d7523d,#f47764);
}
#q7{
    background-image: url(images/yellow_background.jpg);
    background-size: cover;
}
#q8{
    background: linear-gradient(#3b65a5,#88abe0);
}
#q9{
    background: linear-gradient(#d7523d,#f47764);
}
.results-intro{
    width: 620px;
    height: 300px;
    font-size: 25pt;
}
.graph-container{
    display: flex;
    justify-content: space-evenly;
}
.second-act{
    color: #d7523d;
}
.progress-container{
    display: flex;
}
.map{
    margin-top:5%; 
}
.calenderBackground{
    background-image: url(../../images/calendarBackground.jpeg);
    width: 100vw;
    height: 1000px; 
    border: solid black;
    position: relative;

}
.schedule{
    color: white;
}
.dates1{
    position: absolute;
    z-index: 4;
  margin-top: 32%;
  transform: translateX(-700px)
}
.dates2{
    z-index: 4;
    position: absolute;
    transform: translateY(550px);
    transform: translateX(-700px);
    margin-top: 42%;
}

.map-question {
    height: 110px;
}
#map-header {
    display: inline-block;
}

.answer-choice i {
    position: relative;
    top: -83px;
    font-size: 60px;
}
.text-center{
    position: absolute;
    margin-top: 4%;
    margin-left: 50%;
    color: white;
    font-weight: bolder;
}
span{
    color: black;
    font-weight: bolder;
}
.bars{
    margin-top: 7px;
    position: absolute;
    transform: translateX(-300px);
}