.quiz-page, .questions-page {
    height: 100vh;
    background-color: rgb(74, 74, 74);
    border: 2px solid rgb(74, 74, 74);
}

.question-form h3 {
    font-family: Avenir-Book;
    font-weight: 400;
    margin: 52pt 26pt 0 26pt;
    color: white;
}

.question-form h4 {
    font-family: Avenir-Book;
    font-weight: 400;
    color: white;
    font-size: 10pt;
    position: relative;
    top: -14pt;
}

.question-form div label {
    color: white;
} 

.question-page {
    display: flex;
    align-items: center;
    position: relative;
}

.question-form {
    width: 350px;
    margin: auto;
}

.answer-choices {
    position: relative;
    top: -12px;
    margin-left: 23%;
    width: 50%;
}

.checkbox {
    position: relative;
    margin-bottom: 7px;
}

.checkbox input[type="checkbox"] {
    display: none;
    left: 0;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    border: 1px solid;
}

.checkbox label:hover {
    transform: scale(1.05);
}

.checkbox label:after {
    content: '';
    width: 10px;
    height: 5px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 34px;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

.checkbox label span {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.label-field {
    margin-left: -29%;
}

.radio {
    position: relative;
}
  
.radio input[type=radio] {
    position: absolute;
    visibility: hidden;
}
  
.radio label {
    display: block;
    position: relative;
    font-weight: 400;
    min-height: 34px;
    width: 220px;
    margin-left: 10px;
    margin-bottom: 4px;
    padding-top: 5px;
    z-index: 1;
    cursor: pointer;
}

#radio-option-2 {
    margin-left: 0;
    padding-left: 2px;
}

#radio-option-3 {
    margin-left: 0;
    padding-left: 7px;
}

.radio:hover label {
    color: #FFFFFF;
}
  
.radio .check {
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 0;
    left: 20px;
    transition: border .3s linear;
}

.radio:hover .check {
    border: 3px solid #FFFFFF;
}
  
.radio .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
}
  
input[type=radio]:checked ~ .check {
    border: 3px solid white;
}
  
input[type=radio]:checked ~ .check::before {
    background: white;
}
  
input[type=radio]:checked ~ label {
    color: white;
}
  
button {
    width: 130pt;
    height: 34pt;
    margin-top: 100pt;
    letter-spacing: 0.38pt;
    font-size: 14pt;
    font-family: Avenir-Light;
    cursor: pointer;
    border-radius: 5%;
}

button:hover {
    transform: scale(1.1);
}