.header {
    border: 2px solid rgb(160, 199, 118);
    height: 35pt;
    background-color: rgb(160, 199, 118);
    color: white;
}

.home-page h1 {
    font-family: Avenir-Light;
    height: 27pt;
    font-size: 20pt;
    margin-top: 5px;
    letter-spacing: 0.72pt;
    font-weight: 400;
}

.first-image {
    height: 472pt;
    background-image: url('./carousel.png');
    background-size: 100%;
}

.first-image button {
    margin-top: 380pt;
    width: 238pt;
    height: 62pt;
    border-radius: 5%;
    font-size: 21pt;
    font-family: Avenir-Light;
    color: white;
    background-color: rgb(160, 199, 118);
}

.second-image {
    height: 414pt;
    background-image: url('./image.png');
    background-size: 100%;
}

.third-image {
    height: 152pt;
}

.third-image h2 {
    font-family: Avenir-Light;
    font-weight: 600;
    margin-top: 52pt;
}

.third-image p {
    font-size: 11pt;
    margin: 0 30pt;
    font-family: Avenir-Book;
    position: relative;
    top: -17px;
}