.home-page {
    border: 2px solid white;
}

.home-page h1 {
    font-family: Avenir-Light;
    height: 27pt;
    font-size: 40pt;
    margin-top: 10px;
    letter-spacing: 0.72pt;
    font-weight: 400;
    color: #d7523d;
}

.first-image {
    height: 80%;
    margin: 5%;
}

.first-image button {
    margin: 40px auto 0 auto;
    width: 238pt;
    height: 62pt;
    border-radius: 5%;
    font-size: 21pt;
    font-family: Avenir-Light;
    color: white;
    background-color:#d7523d;
    right: 40%;   
}

.vicky {
    width: 40%;
    margin-top: 1%;
}

.quote { 
    width: 40%;
    margin-bottom: 10%;
    transform: translateX(20px);
}

.quote2 {
    width: 90%;
}

.home-last-quote {
    width: 60%;
    margin: 1% auto 4% auto;
}

.home-last-quote p {
    font-family: Avenir-Medium;
    font-size: 1.7vw;
}

.home-last-quote h2 {
    display: none
}

@media screen and (max-width: 625px) {
    .first-image {
        margin: 0;
    }

    .vicky {
        width: 100%;
        margin: 0;
    }

    .quote { 
        display: none;
    }

    .home-page h1 {
        font-size: 30pt;
        font-weight: 700;
    }

    .first-image button {
        display: absolute;
        width: 238pt;
        height: 62pt; 
        margin-bottom: 12%;
    }

    .quote2 {
        display: none;
    }

    .third-image {
        margin: auto;
        height: 100vh;
        background-image: url("../../images/quote2mobile.png");
        background-size: 100% 100%;
    }

    .home-last-quote {
        width: 76%;
    }

    .home-last-quote p {
        font-family: Avenir-Book;
        font-size: 16pt;
    
    }
    
    .home-last-quote h2 {
        display: block;
        font-family: Avenir-Book;
        font-size: 20pt;
        font-weight: 600;
    }

    .home-page h1 {
        font-size: 30pt;
    }
}